*{
    padding: 0;
    margin: 0;
}


body{
  font-family: "Noto Sans JP", sans-serif;
}

.header{
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.header__title1{
    display: flex;
    padding-left: 10%;
    flex-basis: 10%;
    
   
}


.header__title1 h1{
    display: flex;
    padding-top: 30px;
    cursor: pointer;
}

img{
    height: 40%;
    width: 35%;
    padding: 10px;
    
}

.header__title2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: transparent;
    padding: 30px;
    cursor: pointer;

}

.header__title2 p{
    padding: 10px;
    font-size: medium;
    font-weight: 600;
}

.header__title2 p:hover{
    background-color: gainsboro;
    border-radius: 20px;
}



.header__title3{
    display: flex;
    gap: 10px;
    padding-right: 15%;
}

.header__title3--button1{
    color:black;
    padding: 8px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 30px;
    cursor: pointer;
}

.header__title3--button1:hover{
    background-color: gainsboro;
    transition: 0.5s;
}

.header__title3--button2{
    color: white;
    background-color: black;
    padding: 8px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 30px;
}

.header__title4{
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    
}

.navbar{
    display: flex;
    align-items: center;
    margin-left: 20%;
    font-weight: 500;
    gap: 25px;
    padding:30px;
    font-size: 20px;
    color:#545454;
    cursor: pointer;
   
}

.navbar p{
    padding-bottom: 5px;
}

.navbar p:hover{
    transition: 1s;
    text-decoration: underline 2px;
}



input{
    display: flex;
    width:88%;
    height: 45px;
    font-size: 15px;
    border: none whitesmoke;
    border-radius: 30px
    
}

.searchbar{
    display: flex;
    border: solid whitesmoke 2px;
    width: 55%;
    margin-left: 23%;
    border-radius: 30px;
    height: 60px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 999px;
    background: transparent;
}

.searchbar input:focus{
    outline:none;
}

.searchbar__button{
    display: flex;
    background-color: #34E0A1;
    height: 50%;
    padding: 8px;
    border-radius: 25px;
    border: solid black 1px;
    align-items: center;
    cursor: pointer;

}

.searchbar__button:hover{
    background-color: #91f1ce;
}

.searchbar p{
   padding-left: 20px;
   padding-right: 20px;
}

.messagebox{
    height: 450px;
    width: 75%;
    background-color: #FF5D5D;
    border: solid #FF5D5D;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.messagebox__img img{
    width: 600px;
    height: 430px;
    display: flex;
    border-radius: 30px;
    position: relative;
}

.messagebox__centerline{
    height: 430px;
    width: 5px;
    border-right: solid black 1px;
}

.messagebox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.messagebox__text1{
    display: flex;
    font-size: 80px;
    font-family: 'Poppins', sans-serif; /* modern bold font */
    font-weight: 900;
    color: black;
    line-height: 0.9;
    max-width: 600px;
    padding: 5px;
    padding-top: 4%;  
    margin-left: 2%;
}


.messagebox__text2{
    display: flex;
    padding: 15px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 2%;
}

.messagebox__button1{
    display: flex;
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 11%;
    margin-left:5%;
    cursor: pointer;
}

.messagebox__button1:hover{
    background-color: rgb(53, 50, 50);
}

.messagebox__button2{
    display: flex;
    background-color: #FF5D5D;
    margin-right: 100px;
    position: absolute;
    margin-top: 380px;
    margin-left: 50px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 25px;
    cursor: pointer;
}

.messagebox__button3{
    display: flex;
    position: absolute;
    margin-left: 97%;
    margin-top: 37%;
    cursor: pointer;
    
}


.things{
    padding: 10px;
    margin-left: 10%;
    margin-top: 50px;
}

.thingscard__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-left: 110px;
}

.thingscard {
    width: 300px;
    position: relative; 
}

.thingscard img {
    height: auto;
    width: 100%;
    border-radius: 10%;
    display: block;
    
}

.thingscard img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  display: block;
  transition: transform 0.4s ease;
}

.thingscard img:hover {
  transform: scale(1.1);
}


.thingscard p {
    position: absolute;
    bottom: 10px;       
    left: 10px;         
    color: white;
    background-color:transparent; 
    padding: 5px 30px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0;
    font-size: x-large;
    font-weight: 1000;
}


.thingscard h3{
    position: absolute;
    display: flex;
}



.popular {
    padding: 20px;
    margin-left: 10%;
}

.popular__title1{
    margin-top: 5%;
}
.popularcard__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-left: 110px;
}

.popularcard {
    width: 300px;
    align-items: center;
}

.popularcard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: flex;
}

.popularcard p{
    width: 70%;
    margin-left: 20%;
    align-items: center;
    font-size: small;
    font-weight: 700;
}


.places{
    padding: 10px;
}

.places__title1{
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    background-color: #F2F2F2;
}

.placescard__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    background-color: #F2F2F2;
    

}

.placescard {
    padding: 10px;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    
}

.placescard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    margin-left: 10%;
    align-items: center;
}

.placescard p{
    margin-left: 40%;
    width: 50%;
    font-size: medium;
    font-weight: 500;
}

    

.activity {
    padding: 5px;
    margin-left: 10%;
    margin-top: 3%;
}

.activity__title1{
    margin-top: 2%;
}
.activity__title2{
   
}
.activitycard__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 110px;
}

.activitycard {
    width:300px;
    align-items: center;
}

.activitycard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
}

.activitycard p{
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    font-size: medium;
    font-weight: 700;
}

.activitycard__green--button p{
    background-color:#C9F2E3;
    padding: 5px;
    width: 15%;
    font-size: x-small;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    

    
}




.footer{
    background-color:#F2F2F2;
    color:black;
    padding: 100px;
    margin: 10px;
    margin-top: 15%;
}

.footer__one{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.footer__one__s1{
    padding: 10px;
}

.footer__one__s2{
    padding: 10px;
}

.footer__one__s3{
    padding: 10px;
}
.footer__one__s4{
    padding: 10px;
}

.footer__two{
    padding: 3%;
}

.footer__two img{
    height: 7%;
    width: 4%;
    display: flex;
    position: absolute;
}

.footer__two__image--title{
    display: flex;
    width: 30%;
    margin-left: 7%;
    margin-top: 2%;
    
}

.footer__two__titles{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 2%;
    font-size: small;
}



.footer__two__image--title2{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    
}


.footer__two h3{
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
}

.footer__two__s1{
    display: flex;
    margin-left: 60%;
    gap: 10%;

}
.footer__two__s1__button1{
    width: 50%;
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
    padding: 5px;
    font-weight: 500;
}

.footer__two__s1__button2{
    width: 50%;
    background-color: white;
    border: solid black 2px;
    border-radius: 10px;
    padding:5px;
    font-weight: 500;
}


.footer__two__s2{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 5%;
    margin-left: 45%;
}

@media screen and (max-width:800px){
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:500px){
    *{
        padding: 0;
        margin: 0;
    }

    .header{
        display: flex;
        flex-wrap: wrap;
    }
    .header__title1{
        display: flex;
        margin-left: 20%;
        flex-wrap: wrap;

    }

    .header__title1 h1{
        display: flex;
        text-align: center;

    }

    .header__title2{
        margin: 0%;
        padding: 0%;
        justify-content: space-around;
        gap: 0%;
        margin-left: 20%;
    }

    .header__title2 p{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;

    }
    .header__title3{
        display: flex;
        flex-wrap: wrap;
        margin-left: 35%;
        text-align: center;
        align-items: center;
    }

    .header__title3--button1{
        padding: 0;
        margin: 0;
        text-align: center;
        height: 20px;
        
    }

    .header__title3--button2{
        padding: 0;
        margin: 0;
        text-align: center;
        height: 20px;
    
    
    }

    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin:0;
        padding: 0%;
    }

    .navbar p{
        font-size: x-small;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 25%;
        justify-content: space-around;
    }
    .searchbar{
        width: 80%;
        height: 40px;
        font-size: xx-small;
        margin: 0%;
        padding: 0%;
        margin-left: 9%;
        margin-top: 20px;
    }

    .searchbar input{
        font-size: x-small;
    }

    .messagebox{
        width: 90%;
        margin: 0%;
        padding:0%;
        text-align: center;
        margin-top: 20px;
        margin-left: 20px;
    }


    .messagebox img{
        width: 97%;
        height: 80%;
        padding: 0;
        margin: o;
        margin-left: 8px;
        margin-top: 10px;
        border-radius: 0%;
        border-bottom: solid black 1px;
    }

    .messagebox__centerline{
        display: none;
    }

    .messagebox__text1{
        display: flex;
        font-size: 50px;
        padding: 0;
        margin: 0%;
        text-align: left;
        align-items: center;
        margin-left: 8px;
        margin-bottom: 10px;
        
    }

    .messagebox__text2{
        padding: 0;
        margin: 0%;
        margin-bottom: 30px;
        font-size: 15px;
        margin-left: 40px;
    }

    .messagebox__button2{
        margin: 0;
        padding: 0%;
        margin-top: 120px;
        margin-left: 30px;
        font-size: medium;
        padding: 10px;
        
    }

    .messagebox__button1{
        margin: 0%;
        padding: 0;
        margin-top: 400px;
        display: flex;
        position: absolute;
        width: 80px;
        padding: 10px;
        margin-left: 30px;
    }

    .messagebox__button3{
        margin-top: 410px;
        margin-left: 300px;
        display: flex;
        position: absolute;
       
    }

    .things{
        padding: 0%;
        margin: 0%;
        margin-top: 30px;
        text-align: center;
    }

    .thingscard__container{
        padding: 0;
        margin: 0%;
    }

    .thingscard{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 45%;
        padding: 0%;
        margin: 0%;
    }

    .popular{
        padding: 0%;
        margin: 0%;
        margin-top: 30px;
        text-align: center;
    }

    .popularcard__container{
        padding: 0%;
        margin: 0%;
    }

    .popularcard{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 40%;
        padding: 0%;
        margin: 0%;
        align-items: center;
        margin-left: 20px;
        font-size: small;
    }

    .placescard__container{
        padding: 0%;
        margin: 0%;
    }

    .placescard{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 30%;
        padding: 0%;
        margin: 0%;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    .placescard p{
        font-size: x-small;
        width: 100%;
        text-align:center;
    }

    .activity{
        padding: 0%;
        margin: 0%;
        margin-top: 30px;
        text-align: center;
    }

    .activitycard__container{
        padding: 0;
        margin: 0%;
        margin-left: 20px;
    }

    .activitycard{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 45%;
        height: 70%;
        padding: 0%;
        margin: 0%;
    }

    .activitycard img{
        margin-left: 15px;
    
    }

    .activitycard p{
        font-size: xx-small;
        
    }

    .activitycard__green--button p{
        margin-left: 30px;
        background-color: #C9F2E3;
        width: 40px;
    }

    .footer{
        margin: 0%;
        padding: 0%;
        margin-top: 20px;
    }
    
    .footer__two img{
        height: 5%;
    }




}












