*{
    padding: 0;
    margin: 0;
}


body{
  font-family: "Noto Sans JP", sans-serif;
}

.header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.header__title1{
    display: flex;
    padding-left: 10%;
    flex-basis: 10%;
    
   
}


.header__title1 h1{
    display: flex;
}

img{
    height: 40%;
    width: 35%;
    padding: 10px;
    
}

.header__title2{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.header__title3{
    display: flex;
    gap: 10px;
    padding-right: 15%;
}

.header__title3--button1{
    color:black;
    padding: 3px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 30px;
}

.header__title3--button2{
    color: white;
    background-color: black;
    padding: 3px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    width: 60px;
    height: 30px;
}

.header__title4{
    font-size: 50px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    
}

.navbar{
    display: flex;
    align-items: center;
    margin-left: 25%;
    font-weight: 500;
    gap: 25px;
    padding:30px;
    font-size: 20px;
    color:#545454;
   
}

input{
    display: flex;
    width:88%;
    height: 45px;
    font-size: 15px;
    border: none whitesmoke;
    border-radius: 30px
    
}

.searchbar{
    display: flex;
    border: solid whitesmoke 2px;
    width: 55%;
    margin-left: 25%;
    border-radius: 30px;
    height: 60px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 999px;
}

.searchbar__button{
    display: flex;
    background-color: #34E0A1;
    height: 50%;
    padding: 8px;
    border-radius: 25px;
    border: solid black 1px;
    align-items: center;

}

.searchbar p{
   padding-left: 20px;
   padding-right: 20px;
}

.messagebox{
    height: 450px;
    width: 75%;
    background-color: #FF5D5D;
    border: solid #FF5D5D;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.messagebox__img img{
    width: 600px;
    height: 430px;
    display: flex;
    border-radius: 30px;
    position: relative;
}

.messagebox__centerline{
    height: 430px;
    width: 5px;
    border-right: solid black 1px;
}

.messagebox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.messagebox__text1{
    display: flex;
    font-size: 80px;
    font-family: 'Poppins', sans-serif; /* modern bold font */
    font-weight: 900;
    color: black;
    line-height: 0.9;
    max-width: 600px;
    padding: 5px;
    padding-top: 4%;  
    margin-left: 2%;
}


.messagebox__text2{
    display: flex;
    padding: 15px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 2%;
}

.messagebox__button1{
    display: flex;
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    width: 11%;
    margin-left:5%;
}

.messagebox__button2{
    display: flex;
    background-color: #FF5D5D;
    margin-right: 100px;
    position: absolute;
    margin-top: 380px;
    margin-left: 50px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 25px;
}

.messagebox__button3{
    display: flex;
    position: absolute;
    margin-left: 97%;
    margin-top: 37%;
    
}

.things {
    padding: 20px;
    margin-left: 10%;
    margin-top: 5%;
}

.thingscard__container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-left: 110px;
    position: absolute;
}

.thingscard {
    width: 300px;
}

.thingscard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    position: relative;
    display: flex;
}

.thingscard h3{
    position: absolute;
    display: flex;
}



.popular {
    padding: 20px;
    margin-left: 10%;
    margin-top: 5%;
}

.popular__title1{
    margin-top: 20%;
}
.popularcard__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin-left: 110px;
}

.popularcard {
    width: 300px;
    align-items: center;
}

.popularcard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: flex;
}

.popularcard p{
    width: 70%;
    margin-left: 20%;
    align-items: center;
    font-size: small;
    font-weight: 700;
}


.places{
    padding: 10px;
}

.places__title1{
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    background-color: #F2F2F2;
}

.placescard__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    background-color: #F2F2F2;
    

}

.placescard {
    padding: 10px;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    
}

.placescard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    margin-left: 10%;
    align-items: center;
}

.placescard p{
    margin-left: 40%;
    width: 50%;
    font-size: medium;
    font-weight: 500;
}

    

.activity {
    padding: 5px;
    margin-left: 10%;
    margin-top: 3%;
}

.activity__title1{
    margin-top: 2%;
}
.activity__title2{
   
}
.activitycard__container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 110px;
}

.activitycard {
    width:300px;
    align-items: center;
}

.activitycard img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
}

.activitycard p{
    display: flex;
    width: 70%;
    margin-left: 10%;
    align-items: center;
    font-size: small;
    font-weight: 700;
}




.footer{
    background-color:#F2F2F2;
    color:black;
    padding: 40px;
    margin: 10px;
    margin-top: 15%;
}

.footer__one{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.footer__one__s1{
    padding: 10px;
}

.footer__one__s2{
    padding: 10px;
}

.footer__one__s3{
    padding: 10px;
}
.footer__one__s4{
    padding: 10px;
}

.footer__two{
    padding: 3%;
    display: flex;
}

.footer__two__image{
    height: 40%;
    width: 10%;
    padding: 10px;
    display: flex;
}

.footer__two__image--title{
    display: flex;
}



.llc2{
    
}


.footer__two h3{
    display: flex;
    flex-wrap: wrap;
}

.footer__two__s1{
    display: flex;
    margin-left: 80%;
    margin-bottom: 80%;
}









